@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
body {
  background-image: url ('../img/1x/back2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Roboto', monospace;
}

nav ul li {
  font-family: 'Roboto';

  padding: 15px 50px;

  display: inline-block;
  letter-spacing: 0.5px;
  font-size: 24px;
}

nav ul {
  position: fixed;
  background: #F9DBBD;
  z-index: 99;

  text-align: center;

  width: 1680px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
/* Ремень */
.back {
  background-image: url('../img/1x/watch.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 1500px;
  height: 7200px;
  left: 42px;
  top: 1160px;
  z-index: 2;
}
/* Заключение облако*/
.dot {
  background-image: url('../img/1x/frame.png');
  position: absolute;
  margin-left: -35px;
  width: 1115px;
  height: 550px;
  left: 0px;
  top: 7740px;
  z-index: -1;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* Полезные советы облако*/
.dot1 {
  background-image: url('../img/1x/2.png');
  position: absolute;
  margin-left: 220px;
  width: 1219.83px;
  height: 1563.51px;
  left: 225px;
  top: 6100px;
  z-index: -1;
  background-size: 100%;
  background-repeat: no-repeat;

}
/* Как же все планировать облако */
.dot2 {
  background-image: url('../img/1x/3.png');
  position: absolute;
  margin-left: -30px;
  width: 1082px;
  height: 932px;
  left: 0px;
  top: 4860px;
  z-index: -1;
  background-size: 100%;
  background-repeat: no-repeat;

}
/* Мой опыт облако */
.dot3 {
  background-image: url('../img/1x/4.png');
  position: absolute;
  margin-left: 30px;
  width: 586px;
  height: 800px;
  left: -146px;
  top: 4080px;
  z-index: -1;
  background-size: 85%;
  background-repeat: no-repeat;

}
/* способы планирования своего времени облако */
.dot4 {
  background-image: url('../img/1x/5.png');
  position: absolute;
  margin-left: 425px;
  width: 1240px;
  height: 3000px;
  top: 2160px;
  z-index: -1;
  background-size: 120%;
  background-repeat: no-repeat;

}
/* Что такое тайм-менеджмент облако*/
.dot5 {
  background-image: url('../img/1x/6.png');
  position: absolute;
  width: 1264px;
  height: 880px;
  top: 1070px;
  z-index: -1;
  background-size: 95%;
  background-repeat: no-repeat;

}
/* Часы большие */
.dot6 {
  background-image: url('../img/1x/7.png');
  position: absolute;
  width: 934px;
  height: 1734px;
  left: 650px;
  top: 360px;
  z-index: 2;
  background-size: 100%;
  background-repeat: no-repeat;

}
/* Часы малые */
.dot7 {
  background-image: url('../img/1x/8.png');
  position: absolute;
  left: 0%;
  right: 0px;
  top: 170px;
  bottom: 0;
  z-index: 1;
  background-size: 100%;
  background-repeat: no-repeat;

}
/*
Общие
*/

h1, h2, h3 {
  font-family: 'Roboto+Slab';
  padding-bottom: 50px;
  font-weight: bold;
}
h1 {
  font-size: 87px;
  font-weight: bold;
  padding-top: 180px;
  padding-left: 80px;
  height: 160px;
  width: 720px;

}
ul li {
  padding-top: 18px;
}

h2 {
  margin-top: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;

}

h3 {
  margin-top: 50px;
  font-size: 48px;

}

p, ul {
  font-family: 'Roboto';
  font-size: 36px;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}


.box1 {
  height: 120vh;
  position: relative;



}

.box1 h1 {
  font-size: 74px;
  font-weight: 700;

}

.box1 p {

  font-size: 42px;
  font-weight: normal;
  font-style: italic;
  width: 700px;
  height: 136px;
  margin-left: 86px;



}

.box1 {
  background-color: rgba(255, 184, 0, 0.7);
  background-position: 100% 100%;
  background-size: 1100px;

}




 .box2 {
   position: relative;
   margin-top: 144px;
   height: 775px;
 }

.box2 h2 {
  width: 660px;
  margin-left: 100px;
  top: 957px;
  height: 68px;



}

.box2 p {
  height: 163px;
  left: 114px;
  margin-left: 100px;
  top: 155px;
  width: 930px;
  margin-top: 50px;

}



.box3 {
  margin-left: 550px;
  width: 940px;
  }

.box3 h3 {
  width: 320px;
  top: 0px;
}

.box3 p {


  top: 136px;
}



.box4 {
  margin-left: 620px;
  width: 940px;
}


.box5 {
  margin-left: 650px;
  width: 940px;

}

.box5 h3 {

  top: 0px;
}

.box5 p {


}



 .box6 {
   margin-left: 680px;
   width: 940px;
 }

 .box7 {
   margin-left: 227px;
   margin-top: 450px;
   width: 940px;
   background-image: url('../img/frame.png');
   background-repeat: no-repeat;

 }

 .box8 {
   margin-left: 50px;
   width: 940px;
   margin-bottom: 300px;

 }

 .box9 {
   padding-top: 50px;
   margin-left: 600px;
   width: 940px;

 }
 .box10 {
   margin-left: 640px;
   width: 940px;

 }
 .box11 {
   margin-left: 680px;
   width: 940px;

 }
 .box12 {
   margin-left: 720px;
   width: 940px;

 }
 .box13 {
   padding-top: 50px;
   margin-left: 100px;
   width: 940px;

 }
